
@inject SignInManager<IdentityUser> signInManager;
@inject RoleManager<IdentityRole> roleManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tomasos Pizzeria</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" asp-append-version="true" />

    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Hem</a>
                </li>
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-controller="Menu" asp-action="Menu">Meny</a>
                    </li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" asp-controller="OrderAdmin" asp-action="Orders">Beställningar</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="DishesAdmin" asp-action="Menu">Meny</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-controller="RoleAdmin" asp-action="Users">Kunder</a>
                            </div>
                        </li>
                    }
                }

            </ul>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-controller="Account" asp-action="Update">Kundinfo</a>
                        </li>

                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type="submit" class="nav-link btn btn-link navbar-text text-warning" asp-controller="Account" asp-action="Logout">Logga ut @User.Identity.Name</button>
                            </form>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Logga in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Register">Registrering</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="container-views">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
