@model LoginViewModel

@{
    ViewBag.Title = "Kund Inloggning";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/inloggPageStyle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
<link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
<div class="text-center">

    <form class="login" asp-controller="Payment" asp-action="Login" method="post">
        <h2>Logga in för att betala</h2>
        <span class="failer-login" asp-validation-for="Username"></span>
        <input type="text" placeholder="Användarnamn" asp-for="Username">
        <span class="failer-login" asp-validation-for="Password"></span>
        <input type="password" placeholder="Lösenord" asp-for="Password">
        <input class="button" type="submit" value="Betala" />
    </form>

</div>
