@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
<link href="~/css/HomePage.css" rel="stylesheet" type="text/css" asp-append-version="true" />

@if (!signInManager.IsSignedIn(User))
{
    <div class="text-center container-homepage text-danger">
        <h1 class="display-4">Välkommen till Tomasos Pizzeria</h1>
        <p>Tomasos Pizzeria startade 1998 och har sedan 2008 funnits online.</p>
        <p>Vi erbjuder en meny av pizza , sallad och pastarätter.</p>
        <p>
            För att beställa från oss var vänlig att <a class="text-black" asp-controller="Account" asp-action="Register">registrera</a>
            dig som kund hos oss eller om du redan är kund <a class="text-black" asp-controller="Account" asp-action="Login">logga in</a>.
        </p>

    </div>
}
else
{
    <div class="text-center container-homepage text-danger">
        <h1 class="display-4">Välkommen till Tomasos Pizzeria</h1>
        <h3>Du är nu inloggad och kan beställa från vår meny</h3>
        <p>Vi erbjuder en meny av pizza , sallad och pastarätter.</p>
    </div>
}
